// Only necessary for window height sized blocks.
  html, body, .block {
    height: 100%;
  }

  // Class for when element is above threshold
  .pin-top {
    position: relative;
  }

  // Class for when element is below threshold
  .pin-bottom {
    position: relative;
  }

  // Class for when element is pinned
  .pinned {
    position: fixed !important;
  }

  


.o3{
  width: 415px;
  display: inline-block;
  padding: 11px;
  padding-right: 0px;
}

.btn{
  display: block;
}