header{
  text-transform: uppercase; 
  color: #fff;
  background-color: #26a69a;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  min-height: 80px;
}
.description-container{
  max-width: 1240px;
  margin: auto;
  padding-top: 18px;
  overflow: auto;
}
.description{
  font-family: 'Quicksand', sans-serif;
  line-height: 110%;
  float: left;
  text-align: left;
}
.contact{
  font-family: 'Quicksand', sans-serif;
  line-height: 110%;
  float: right;
  text-align: right;
}
header:hover{
  background-color: #2bbbad;
}
header p{
  margin: 0px;
}
.container{
  padding-left: 8px;
}
.col{
  width: 415px;
  display: inline-block;
  padding: 11px;
  padding-right: 0px;
}
.card-image:hover img{
  transform: scale(1.02);
  transition: all 1s linear;
}
footer{
  border-top: 1px solid;
}
