// Only necessary for window height sized blocks.
  html, body, .block {
    height: 100%;
  }

  // Class for when element is above threshold
  .pin-top {
    position: relative;
  }

  // Class for when element is below threshold
  .pin-bottom {
    position: relative;
  }

  // Class for when element is pinned
  .pinned {
    position: fixed !important;
  }

.o3{
  width: 415px;
  display: inline-block;
  padding: 11px;
  padding-right: 0px;
}

.btn{
  display: block;
  height: 80px;
}

.btn:hover{
  cursor: inherit;
}

.head-description{
  font-family: 'Quicksand', sans-serif;
  line-height: 110%;
  width: 1200px;
  float: left;
  padding-left: 625px;
  padding-top: 18px;
  text-align: left;
}

.head-contact{
  font-family: 'Quicksand', sans-serif;
  line-height: 110%;
  width: 400px;
  float: right;
  padding-right: 30px;
  padding-top: 18px;
  text-align: right;
  margin-right: 613px;
}

