
body{
    background-color: aliceblue;
    background-image: url(../images/1.jpg);
}
li{
    font-family: helvetica;
    width: 400px;
    list-style: none;
    padding: 10px;
    margin: 5px;
    border-bottom: black solid 2px;
}
input{
    font-size: 18px;
    margin: 45px;
    padding: 5px;
    border-radius: 8px;
}
#container{
    width: 550px;
    background-color: cyan;
    opacity: 0.7;
}